In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "Data/Animal permits - 1 July 2020.csv"
dog_list = pd.read_csv(file_path)
dog_list

,Permit Group,Permit Name,Permit Status,Animal: Breed,Application Location: Suburb
0,Animal,Dog Registration,Current,Tibetan Spaniel,ROBERTSON
1,Animal,Dog Registration,Current,Australian Kelpie,STAFFORD HEIGHTS
2,Animal,Dog Registration,Current,Rottweiler,TARRAGINDI
3,Animal,Dog Registration,Current,Australian Kelpie,ASHGROVE
4,Animal,Dog Registration,Current,Shar Pei,MANSFIELD
...,...,...,...,...,...
110369,Animal,Dog Registration,Current,Griffon Bruxellois,SPRING HILL
110370,Animal,Dog Registration,Current,West Highland White Terrier,CHERMSIDE WEST
110371,Animal,Dog Registration,Current,Labrador Retriever,BULIMBA
110372,Animal,Dog Registration,Current,German Shepherd Dog,PADDINGTON
110373,Animal,Dog Registration,Current,Poodle,WISHART

In [3]:
# loop through each column, check if there are null values, 
#sum them up, and print out a readable total:
for column in dog_list.columns:
    print(f"Column {column} has {dog_list[column].isnull().sum()} null values")

Column Permit Group has 0 null values
Column Permit Name has 0 null values
Column Permit Status has 0 null values
Column Animal: Breed has 2532 null values
Column Application Location: Suburb has 1 null values

In [4]:
#data type
dog_list.dtypes

Permit Group                    object
Permit Name                     object
Permit Status                   object
Animal: Breed                   object
Application Location: Suburb    object
dtype: object

In [5]:
#check Permit Groupoptions
dog_list.groupby("Permit Group").count().index

Index(['Animal'], dtype='object', name='Permit Group')

In [6]:
#check Permit Name options
dog_list.groupby("Permit Name").count().index

Index(['Cat Permit', 'Dog Permit', 'Dog Registration', 'Livestock Permit',
       'Livestock Permit - Self Assessable', 'Racehorses Permit'],
      dtype='object', name='Permit Name')

In [7]:
#check Permit Status options
dog_list.groupby("Permit Status").count().index

Index(['Current'], dtype='object', name='Permit Status')

In [8]:
#Remove all Permit Namethat are not DOG
dog_list_2= dog_list.loc[dog_list['Permit Name'].str.contains('Dog')]
dog_list_2

,Permit Group,Permit Name,Permit Status,Animal: Breed,Application Location: Suburb
0,Animal,Dog Registration,Current,Tibetan Spaniel,ROBERTSON
1,Animal,Dog Registration,Current,Australian Kelpie,STAFFORD HEIGHTS
2,Animal,Dog Registration,Current,Rottweiler,TARRAGINDI
3,Animal,Dog Registration,Current,Australian Kelpie,ASHGROVE
4,Animal,Dog Registration,Current,Shar Pei,MANSFIELD
...,...,...,...,...,...
110369,Animal,Dog Registration,Current,Griffon Bruxellois,SPRING HILL
110370,Animal,Dog Registration,Current,West Highland White Terrier,CHERMSIDE WEST
110371,Animal,Dog Registration,Current,Labrador Retriever,BULIMBA
110372,Animal,Dog Registration,Current,German Shepherd Dog,PADDINGTON
110373,Animal,Dog Registration,Current,Poodle,WISHART

In [9]:
#check Permit Name options
dog_list_2.groupby("Permit Name").count().index

Index(['Dog Permit', 'Dog Registration'], dtype='object', name='Permit Name')

In [10]:
#count breed value
dog_list_2['Animal: Breed'].value_counts(dropna=False)

Labrador Retriever            9495
Maltese                       7837
Staffordshire Bull Terrier    6419
Border Collie                 6418
Poodle                        5626
                              ...
Hamiltonstovare                  1
Sussex Spaniel                   1
Portuguese Podengo               1
American Hairless Terrier        1
Australian Staghound             1
Name: Animal: Breed, Length: 200, dtype: int64

In [11]:
pd.set_option('display.max_columns', 999)

In [12]:
pd.set_option('display.max_rows', 999)

In [13]:
#count breed value
dog_list_2['Animal: Breed'].value_counts(dropna=False)

Labrador Retriever                           9495
Maltese                                      7837
Staffordshire Bull Terrier                   6419
Border Collie                                6418
Poodle                                       5626
Cavalier King Charles Spaniel                5489
Australian Kelpie                            3535
Jack Russell Terrier                         3413
Australian Cattle Dog                        3351
Golden Retriever                             3287
Dachshund                                    2932
Fox Terrier                                  2878
German Shepherd Dog                          2853
Shih Tzu                                     2821
Cocker Spaniel                               2670
Beagle                                       1946
American Staffordshire Terrier               1878
Chihuahua                                    1835
Schnauzer                                    1375
Pug                                          1288
Rottweiler                                   1174
Bichon Frise                                 1158
Bull Arab                                    1156
Greyhound                                    1141
Rhodesian Ridgeback                          1110
Pomeranian                                   1071
Boxer                                        1064
French Bulldog                               1035
West Highland White Terrier                   999
Siberian Husky                                811
Lhasa Apso                                    783
Australian Silky Terrier                      768
Poodle (Toy)                                  659
NaN                                           640
King Charles Spaniel                          601
Great Dane                                    594
Poodle (Miniature)                            541
Unknown                                       529
Bullmastiff                                   518
Whippet                                       510
Shar Pei                                      505
Australian Terrier                            487
Mastiff                                       467
Tibetan Spaniel                               460
British Bulldog                               457
Schnauzer (Miniature)                         428
Bull Terrier                                  414
German Shorthaired Pointer                    387
Dalmatian                                     372
Tenterfield Terrier                           371
Irish Wolfhound                               357
Hungarian Vizsla                              329
Welsh Corgi                                   326
Australian Shepherd                           319
Japanese Spitz                                318
English Springer Spaniel                      317
Dobermann                                     304
Boston Terrier                                295
Papillon                                      288
Medium Cross Breed                            245
Shetland Sheepdog                             243
Alaskan Malamute                              222
Italian Greyhound                             219
Weimaraner                                    213
Belgian Shepherd                              209
Small Cross Breed                             203
Samoyed                                       202
Maremma Sheepdog                              198
Bulldog                                       189
Poodle (Standard)                             177
Cairn Terrier                                 166
Yorkshire Terrier                             160
Fox Terrier (Smooth)                          157
Australian Koolie                             149
Border Terrier                                145
Dogue de Bordeaux                             129
Neapolitan Mastiff                            124
Pointer                                       121
Havanese                                      120
Chihuahua (Smooth Coat)                       114
Scottish Terrier                              104
Airedale Terrier                               98
Lagotto Romagnolo                              95
Chihuahua (Long Coat)                          88
Basset Hound                                   85
Miniature Pinscher                             82
German Shepherd Dog (Long Stock Coat)          82
Shiba Inu                                      80
Welsh Corgi (Pembroke)                         79
Rough Collie                                   79
Bearded Collie                                 79
Griffon Bruxellois                             77
Keeshond                                       71
Chow Chow                                      70
Large Cross Breed                              70
German Spitz                                   67
Basenji                                        67
Lowchen                                        66
Old English Sheepdog                           64
Bernese Mountain Dog                           62
Brittany                                       62
Tibetan Terrier                                61
Soft Coated Wheaten Terrier                    60
Portuguese Water Dog                           60
Australian Stumpy Tail Cattle Dog              58
Schipperke                                     56
Akita                                          55
Chinese Crested Dog                            53
Irish Setter                                   52
Pekingese                                      51
Finnish Lapphund                               40
Welsh Terrier                                  39
Irish Terrier                                  38
St Bernard                                     37
White Swiss Shepherd Dog                       37
Curly Coated Retriever                         36
Stag Hound                                     35
Bedlington Terrier                             35
Tibetan Mastiff                                35
Welsh Springer Spaniel                         34
Cocker Spaniel (American)                      33
Manchester Terrier                             32
Fox Terrier (Wire)                             32
Kerry Blue Terrier                             28
Nova Scotia Duck Tolling Retriever             27
Borzoi                                         27
Belgian Shepherd Dog                           25
Flat Coated Retriever                          25
Saluki                                         25
English Toy Terrier                            25
Anatolian Shepherd Dog                         23
Lakeland Terrier                               23
German Pinscher                                22
Field Spaniel                                  21
German Wirehaired Pointer                      21
English Setter                                 21
Newfoundland                                   20
Collie (Rough)                                 19
Cane Corso                                     19
Smooth Collie                                  19
Collie (Smooth)                                18
Bull Terrier (Miniature)                       17
Bloodhound                                     16
Pharaoh Hound                                  16
Norwich Terrier                                16
Afghan Hound                                   15
Parson Russell Terrier                         15
Foxhound                                       13
Skye Terrier                                   12
Welsh Corgi (Cardigan)                         11
Japanese Chin                                  11
Harrier                                        11
Swedish Vallhund                               11
Akita (Japanese)                               11
Petit Basset Griffon Vendeen                   11
Briard                                         11
Italian Corso Dog                              10
Chesapeake Bay Retriever                        9
Gordon Setter                                   9
Affenpinscher                                   9
Puli                                            8
Dutch Shepherd Dog                              8
Norwegian Elkhound                              8
Basset Fauve de Bretagne                        7
Black Russian Terrier                           6
Clumber Spaniel                                 6
Bouvier des Flandres                            6
Deerhound                                       6
Pyrenean Mountain Dog                           5
Norfolk Terrier                                 5
Coton De Tulear                                 4
Schnauzer (Giant)                               4
Dandie Dinmont Terrier                          4
Kangal Dog                                      4
Italian Spinone                                 3
Leonberger                                      3
Large Munsterlander                             3
Bracco Italiano                                 3
Polish Lowland Sheepdog                         3
Russian Black Terrier                           3
Sealyham Terrier                                3
Glen of Imaal Terrier                           3
Central Asian Shepherd Dog                      2
Irish Red and White Setter                      2
German Hunting Terrier                          2
Bluetick Coonhound                              2
Canaan Dog                                      2
Russian Toy (Russkiy Toy) (Smooth Haired)       2
Ibizan Hound                                    2
Grand Basset Griffon Vendeen                    1
Swedish Lapphund                                1
Canadian Eskimo Dog                             1
Kuvasz                                          1
Eurasier                                        1
Finnish Spitz                                   1
Hamiltonstovare                                 1
Sussex Spaniel                                  1
Portuguese Podengo                              1
American Hairless Terrier                       1
Australian Staghound                            1
Name: Animal: Breed, dtype: int64

In [14]:
#count Application Location: Suburb value
dog_list_2['Application Location: Suburb'].value_counts(dropna=False)

FOREST LAKE             2318
BRACKEN RIDGE           2290
THE GAP                 1983
CARINDALE               1765
WYNNUM                  1621
ASHGROVE                1546
MANLY WEST              1475
BRIGHTON                1443
COORPAROO               1438
CAMP HILL               1382
WYNNUM WEST             1366
TARRAGINDI              1319
ASPLEY                  1315
WAVELL HEIGHTS          1303
MOUNT GRAVATT EAST      1199
BRIDGEMAN DOWNS         1172
KENMORE                 1141
BARDON                  1137
CARINA                  1133
MOOROOKA                1112
CHAPEL HILL             1083
MORNINGSIDE             1068
KEDRON                  1047
EVERTON PARK            1034
TINGALPA                1020
MITCHELTON               997
BOONDALL                 994
WAKERLEY                 983
BALD HILLS               976
SUNNYBANK HILLS          969
HOLLAND PARK             940
CARSELDINE               923
PADDINGTON               895
KEPERRA                  895
OXLEY                    889
INDOOROOPILLY            888
STAFFORD HEIGHTS         883
CLAYFIELD                876
ZILLMERE                 862
NUNDAH                   857
PARKINSON                856
MCDOWALL                 833
MANSFIELD                831
BELLBOWRIE               822
ANNERLEY                 816
BULIMBA                  812
WISHART                  812
INALA                    811
BANYO                    807
CALAMVALE                792
CHERMSIDE WEST           787
STAFFORD                 763
FERNY GROVE              760
EIGHT MILE PLAINS        758
NORMAN PARK              739
UPPER KEDRON             727
WEST END                 713
RUNCORN                  710
SALISBURY                704
TOOWONG                  703
NEW FARM                 696
ALDERLEY                 695
HAMILTON                 659
HOLLAND PARK WEST        655
ACACIA RIDGE             651
MOGGILL                  644
JINDALEE                 631
UPPER MOUNT GRAVATT      627
CARINA HEIGHTS           627
YERONGA                  625
SANDGATE                 624
SHERWOOD                 622
KARANA DOWNS             620
SINNAMON PARK            615
HENDRA                   615
ALGESTER                 608
WINDSOR                  604
CANNON HILL              600
HAWTHORNE                597
GREENSLOPES              595
GRACEVILLE               591
GRANGE                   588
PULLENVALE               587
GEEBUNG                  584
CORINDA                  576
DEAGON                   549
BELMONT                  544
NORTHGATE                544
CHERMSIDE                537
TAIGUM                   536
BROOKFIELD               535
RED HILL                 534
NUDGEE                   533
FIG TREE POCKET          528
ASCOT                    528
MURARRIE                 523
GORDON PARK              509
ENOGGERA                 505
WESTLAKE                 495
NEWMARKET                481
MANLY                    478
RIVERHILLS               475
FITZGIBBON               470
BALMORAL                 456
EAST BRISBANE            456
WILSTON                  448
TARINGA                  447
LOTA                     438
DURACK                   437
KURABY                   429
AUCHENFLOWER             427
NEWSTEAD                 412
CHELMER                  411
TENERIFFE                410
KANGAROO POINT           406
SUNNYBANK                398
WOOLOOWIN                392
KELVIN GROVE             390
MIDDLE PARK              387
ST LUCIA                 378
COOPERS PLAINS           375
MOUNT CROSBY             368
HEMMANT                  368
ROCHEDALE                368
DOOLANDELLA              362
KENMORE HILLS            353
WOOLLOONGABBA            335
DARRA                    329
HIGHGATE HILL            326
SEVENTEEN MILE ROCKS     317
SEVEN HILLS              313
JAMBOREE HEIGHTS         310
SHORNCLIFFE              310
FAIRFIELD                309
LUTWYCHE                 303
VIRGINIA                 303
DREWVALE                 301
MOUNT GRAVATT            293
GUMDALE                  292
ANSTEAD                  284
GAYTHORNE                278
KALINGA                  274
HEATHWOOD                274
FORTITUDE VALLEY         267
SOUTH BRISBANE           254
MACGREGOR                249
STRETTON                 242
CHANDLER                 234
ALBION                   233
MACKENZIE                217
ELLEN GROVE              210
YEERONGPILLY             208
MOUNT OMMANEY            198
BRISBANE CITY            176
ROBERTSON                171
BURBANK                  168
SPRING HILL              164
PALLARA                  156
MILTON                   150
ROCKLEA                  142
RICHLANDS                139
HERSTON                  138
WACOL                    117
BOWEN HILLS              115
DUTTON PARK              114
TENNYSON                 113
UPPER BROOKFIELD         112
STONES CORNER            106
PINJARRA HILLS           105
PETRIE TERRACE            99
NATHAN                    84
NUDGEE BEACH              67
KHOLO                     63
ARCHERFIELD               61
SUMNER                    56
RANSOME                   49
PINKENBA                  39
CHUWAR                    21
WILLAWONG                 18
KOORINGAL                  6
COWAN COWAN                5
KARAWATHA                  5
BULWER                     4
MORETON ISLAND             3
ENOGGERA RESERVOIR         2
LAKE MANCHESTER            1
EAGLE FARM                 1
Name: Application Location: Suburb, dtype: int64

In [15]:
file_path = "Data/Park_Locations.csv"
park_list = pd.read_csv(file_path)
park_list

,OBJECTID,PARK_NUMBER,PARK_NAME,SAP_ASSET_ID,HOUSE_NUMBER,STREET_ADDRESS,SUBURB,POST_CODE,LONG,LAT,SHAPE_Length,SHAPE_Area
0,1,D1573,THOMAS PLACE PARK,B-RE-0458,151A,ANCASTER ROAD,UPPER KEDRON,4055,152.915628,-27.410609,811.437573,12271.650428
1,2,D1575,SCARLET PLACE PARK,B-RE-0457,36,SCARLET PLACE,FOREST LAKE,4078,152.971609,-27.611549,181.436083,975.136574
2,3,D1576,PAT RAFTER PARK,B-RE-0456,20,MEDALLION PLACE,CARSELDINE,4034,153.009133,-27.341620,1357.932476,20686.559364
3,4,D1578,PARKWAY PLACE PARK,B-RE-0455,6,EVERGREEN CLOSE,KENMORE,4069,152.930905,-27.521829,297.243998,4274.945062
4,5,D1579,WINROCK STREET PARK,B-RE-0454,80,MCCONNELL CRESCENT,BROOKFIELD,4069,152.918997,-27.510579,265.102156,2633.070456
...,...,...,...,...,...,...,...,...,...,...,...,...
2162,2163,D0850,USTINOV CRESCENT PARK,B-RE-2418,62,LANDIS STREET,MCDOWALL,4053,152.987634,-27.383416,450.910500,7645.999120
2163,2164,D0851,RON WARD PARK,B-RE-2417,8,TINGWARD STREET,THE GAP,4061,152.941955,-27.432093,243.885173,2639.364420
2164,2165,D0852,SIMPSONS ROAD PARK,B-RE-2416,165A,SIMPSONS ROAD,BARDON,4065,152.979646,-27.461103,659.535725,12997.605312
2165,2166,D0854,FRINTON STREET PARK,B-RE-2415,6,FRINTON STREET,WISHART,4122,153.098098,-27.552072,154.708661,1445.217043
2166,2167,D0855,DURELLA STREET PARK,B-RE-2414,315,BLUNDER ROAD,DURACK,4077,152.980578,-27.593569,4043.322263,101343.069718

In [16]:
# loop through each column, check if there are null values, 
#sum them up, and print out a readable total:
for column in park_list.columns:
    print(f"Column {column} has {park_list[column].isnull().sum()} null values")

Column OBJECTID has 0 null values
Column PARK_NUMBER has 0 null values
Column PARK_NAME has 0 null values
Column SAP_ASSET_ID has 0 null values
Column HOUSE_NUMBER has 48 null values
Column STREET_ADDRESS has 0 null values
Column SUBURB has 0 null values
Column POST_CODE has 0 null values
Column LONG has 0 null values
Column LAT has 0 null values
Column SHAPE_Length has 0 null values
Column SHAPE_Area has 0 null values

In [17]:
#data type
park_list.dtypes

OBJECTID            int64
PARK_NUMBER        object
PARK_NAME          object
SAP_ASSET_ID       object
HOUSE_NUMBER       object
STREET_ADDRESS     object
SUBURB             object
POST_CODE           int64
LONG              float64
LAT               float64
SHAPE_Length      float64
SHAPE_Area        float64
dtype: object

In [18]:
#count breed value
park_list['PARK_NAME'].value_counts(dropna=False)

BLACKWOOD STREET PARK               2
TYBERRY STREET PARK                 1
PARKSEDGE STREET PARK               1
ROSS STREET PARK                    1
RIVERVIEW FARM PARK                 1
                                   ..
CHALK STREET PARK                   1
WINDSOR PARK                        1
TORQUAY CRESCENT (NO. 1695) PARK    1
ENOGGERA MEMORIAL PARK              1
PULLEN ROAD PARK                    1
Name: PARK_NAME, Length: 2166, dtype: int64

In [19]:
#count breed value
park_list['SUBURB'].value_counts(dropna=False)

FOREST LAKE             78
THE GAP                 46
CARINDALE               42
SUNNYBANK HILLS         41
ASHGROVE                39
EIGHT MILE PLAINS       35
COORPAROO               34
RUNCORN                 33
CALAMVALE               31
MOGGILL                 29
OXLEY                   28
BRACKEN RIDGE           27
TINGALPA                26
WYNNUM WEST             25
WAKERLEY                25
INDOOROOPILLY           23
KENMORE                 23
BRIDGEMAN DOWNS         23
PARKINSON               22
BARDON                  22
MITCHELTON              22
CARSELDINE              21
CHAPEL HILL             21
MANLY WEST              20
MOOROOKA                20
TAIGUM                  20
MURARRIE                20
FERNY GROVE             19
UPPER KEDRON            19
FIG TREE POCKET         19
MCDOWALL                19
YERONGA                 19
KEPERRA                 18
BOONDALL                17
WYNNUM                  17
BRIGHTON                17
TOOWONG                 16
ST LUCIA                16
TARRAGINDI              16
ROCHEDALE               16
ASPLEY                  16
INALA                   15
SUNNYBANK               15
BELLBOWRIE              15
CORINDA                 15
HEMMANT                 15
MORNINGSIDE             15
WISHART                 14
FITZGIBBON              14
ROCKLEA                 14
HOLLAND PARK            14
KURABY                  14
BALD HILLS              14
MANSFIELD               14
NUDGEE                  13
BRISBANE CITY           13
CARINA                  13
BULIMBA                 13
KELVIN GROVE            13
NUNDAH                  13
WINDSOR                 13
WAVELL HEIGHTS          13
BURBANK                 13
LOTA                    13
ALGESTER                12
CANNON HILL             12
UPPER MOUNT GRAVATT     12
DARRA                   12
SINNAMON PARK           12
EVERTON PARK            12
MOUNT GRAVATT EAST      12
ACACIA RIDGE            12
WACOL                   11
STAFFORD                11
ELLEN GROVE             11
PADDINGTON              11
FAIRFIELD               11
STRETTON                11
EAST BRISBANE           11
BROOKFIELD              11
KARANA DOWNS            11
CHERMSIDE WEST          10
CAMP HILL               10
WOOLLOONGABBA           10
STAFFORD HEIGHTS        10
DREWVALE                10
DEAGON                  10
MOUNT CROSBY            10
CHANDLER                10
JINDALEE                10
BANYO                   10
ZILLMERE                 9
MANLY                    9
NORTHGATE                9
HEATHWOOD                9
NORMAN PARK              9
RANSOME                  9
MILTON                   9
WEST END                 9
ALDERLEY                 8
KANGAROO POINT           8
NEWSTEAD                 8
PINKENBA                 8
SANDGATE                 8
COOPERS PLAINS           8
PULLENVALE               8
WILLAWONG                8
HOLLAND PARK WEST        8
LUTWYCHE                 8
DUTTON PARK              7
MACGREGOR                7
KEDRON                   7
SALISBURY                7
GORDON PARK              7
GRACEVILLE               7
DURACK                   7
CARINA HEIGHTS           7
SEVEN HILLS              7
VIRGINIA                 7
NEW FARM                 7
SOUTH BRISBANE           7
KALINGA                  7
SHERWOOD                 7
GREENSLOPES              7
ENOGGERA                 7
ANNERLEY                 7
KENMORE HILLS            7
MIDDLE PARK              7
BALMORAL                 7
HAMILTON                 7
BOWEN HILLS              6
SEVENTEEN MILE ROCKS     6
NEWMARKET                6
AUCHENFLOWER             6
ANSTEAD                  6
TARINGA                  6
ALBION                   6
RICHLANDS                6
PALLARA                  6
WESTLAKE                 6
ROBERTSON                6
BELMONT                  6
WILSTON                  6
GRANGE                   5
KHOLO                    5
ASCOT                    5
MACKENZIE                5
GAYTHORNE                5
HIGHGATE HILL            5
CHERMSIDE                5
DOOLANDELLA              5
CHELMER                  5
FORTITUDE VALLEY         5
RED HILL                 5
RIVERHILLS               4
YEERONGPILLY             4
GEEBUNG                  4
SPRING HILL              4
HAWTHORNE                3
SHORNCLIFFE              3
KARAWATHA                3
SUMNER                   3
HERSTON                  3
UPPER BROOKFIELD         3
ARCHERFIELD              3
PETRIE TERRACE           3
NUDGEE BEACH             3
GUMDALE                  3
MOUNT OMMANEY            3
LYTTON                   3
TENERIFFE                3
TENNYSON                 2
BRISBANE AIRPORT         2
NATHAN                   2
PINJARRA HILLS           2
CLAYFIELD                2
STONES CORNER            2
JAMBOREE HEIGHTS         2
MOUNT COOT-THA           2
LARAPINTA                2
HENDRA                   2
BULWER                   1
KOORINGAL                1
MOUNT GRAVATT            1
MT CROSBY                1
EAGLE FARM               1
COWAN COWAN              1
CHUWAR                   1
Name: SUBURB, dtype: int64

In [20]:
file_path = "Data/Off Leash.csv"
dog_park_list = pd.read_csv(file_path)
dog_park_list

,Dog Park Name,Suburb,Address,dog area
0,7th Brigade Park,Chermside,"7th Brigade Park, 21 Kittyhawk Drive, Chermside",y
1,\tAbbeville Street Park,Upper Mount Gravatt,"Abbeville Street Park, 41 Abbeville Street, Up...",y
2,Albert Bishop Park,Nundah,"Albert Bishop Park, 40 Hendley Avenue, Nundah",y
3,Amelia Park,Gordon Park,"Amelia Park, 54A Swan Street, Gordon Park",y
4,Anzac Park,Toowong,"Anzac Park, 100 Dean Street, Toowong",y
5,Arbor Street Park,Ferny Grove,"Arbor Street Park, 1200 Samford Road, Ferny Grove",y
6,Archer Street Park,Gordon Park,"Archer Street Park, 26 Archer Street, Gordon Park",y
7,Ascot Park,Ascot,"Ascot Park, 93 Kitchener Road, Ascot",y
8,Ashridge Road Park,Darra,"Ashridge Road Park, 148 Monier Road, Darra",y
9,Bancroft Park,Kelvin Grove,"Bancroft Park, 360 Kelvin Grove Road, Kelvin G...",y
10,Barcoorah Street Park,Westlake,"Barcoorah Street Park, 88 Barcoorah Street, We...",y
11,Barrett Street Reserve (water reserve),Bracken Ridge,"Barrett Street Reserve (water reserve), 110 No...",y
12,Barungwarra Bushland Reserve,Bald Hills,"Barungwarra Bushland Reserve, 98 Bald Hills-Bu...",y
13,Berkshire Crescent Park,Wishart,"Berkshire Crescent Park, 17 Berkshire Crescent...",y
14,Beryl Roberts Park,Coopers Plains,"Beryl Roberts Park, 45A Baroda Street, Coopers...",y
15,Bill Brown Sports Reserve,Fitzgibbon,"Bill Brown Sports Reserve, 411 Roghan Road, Fi...",y
16,Bill Lamond Park,Lota,"Bill Lamond Park, 34 Andrew Street, Lota",y
17,Blackbutt Place Park,Brookfield,"Blackbutt Place Park, 23A Blackbutt Place, Bro...",y
18,Blue Gum Park,Zillmere,"Blue Gum Park, 18A Spano Street, Zillmere",y
19,Booker Place Park,Bellbowrie,"Booker Place Park, 89 Birkin Road, Bellbowrie",y
20,Boondall Park,Boondall,"Boondall Park, 2332 Sandgate Road, Boondall",y
21,Boorabbin Picnic Ground,Wishart,"Boorabbin Picnic Ground, 677A Mt Gravatt-Capal...",y
22,Boyd Park,Nundah,"Boyd Park, 11 Boyd Road, Nundah",y
23,Bradbury Park,Kedron,"Bradbury Park, 91 Kitchener Road, Kedron",y
24,Bulimba Riverside Park,Bulimba,"Bulimba Riverside Park, 57 Addison Avenue, Bul...",y
25,Burnie Brae Park,Chermside,"Burnie Brae Park, 106 Meemar Street, Chermside",y
26,Byrne's Paddock Park,Windsor,"Byrne's Paddock Park, 21 Federation Street, Wi...",y
27,C.J. Greenfield Complex Park,Richlands,"C.J. Greenfield Complex Park, 149 Kimberley St...",y
28,Calamvale District Park,Calamvale,"Calamvale District Park, 31 Formby Street, Cal...",y
29,Canterbury Park,Bald Hills,"Canterbury Park, 63 Feuerriegel Road, Bald Hills",y
30,Carindale Recreation Reserve,Carindale,"Carindale Recreation Reserve, 27 Cadogan Stree...",y
31,Colmslie Reserve,Morningside,"Colmslie Reserve, 420 Lytton Road, Morningside",y
32,Corramulling Park,The Gap,"Corramulling Park, 136 Yoorala Street, The Gap",y
33,Crosby Park,Albion,"Crosby Park, 103 Crosby Road, Albion",y
34,Cubberla Creek Reserve,Chapel Hill,"Cubberla Creek Reserve, 129 Fig Tree Pocket Ro...",y
35,Curlew Park,Sandgate,"Curlew Park, 74 Curlew Street, Sandgate",y
36,D.M. Henderson Park,Macgregor,"D.M. Henderson Park, 434 McCullough Street, Ma...",y
37,Dash Street Park,Keperra,"Dash Street Park, 32 Duggan Street, Keperra",y
38,Decker Park,Brighton,"Decker Park, 18 Twenty-Fifth Avenue, Brighton",y
39,Delapine Place Park,Seventeen Mile Rocks,"Delapine Place Park, 6 Delapine Place, Sevente...",y
40,Doulton Street Park,Calamvale,"Doulton Street Park, 154 Illaweena Street, Cal...",y
41,Downfall Creek Reserve,Geebung,"Downfall Creek Reserve, 263 Bilsen Road, Geebung",y
42,Ducie Street Park,Darra,"Ducie Street Park, 75 Ebrington Street, Darra",y
43,Durella Street Park,Durack,"Durella Street Park, 144 Durrang Street, Durack",y
44,Dutton Park,Dutton Park,"Dutton Park, 359 Gladstone Road, Dutton Park",y
45,Edenbrooke Park,Seventeen Mile Rocks,"Edenbrooke Park, 161 Bellwood Street, Seventee...",y
46,Ekibin Park East,Greenslopes,"Ekibin Park East, 133 Juliette Street, Greensl...",y
47,Elanora Park,Wynnum,"Elanora Park, 22 Saunders Place, Wynnum",y
48,Endiandra Street Park,Algester,"Endiandra Street Park, 26 Ackama Street, Algester",y
49,Englefield Road Park,Oxley,"Englefield Road Park, 48 Mabel Street, Oxley",y
50,Evelyn Road Park,Wynnum West,"Evelyn Road Park, 180 Kianawah Road, Wynnum West",y
51,Evergreen Place Park,Murarrie,"Evergreen Place Park, 41 Rosewood Place, Murarrie",y
52,Fairfield Park,Fairfield,"Fairfield Park, 94 Fairfield Road, Fairfield",y
53,Faulkner Park,Graceville,"Faulkner Park, 80 Waratah Avenue, Graceville",y
54,Forest Lake Sports Fields,Forest Lake,"Forest Lake Sports Fields, 310 Forest Lake Bou...",y
55,Freney Street Park,Rocklea,"Freney Street Park, 90 Freney Street, Rocklea",y
56,George Scarlett Park,Corinda,"George Scarlett Park, 101 Pratten Street, Corinda",y
57,Gilbert Park,Red Hill,"Gilbert Park, 98 Fulcher Road, Red Hill",y
58,Glenefer Street Park,Runcorn,"Glenefer Street Park, 35 Glenefer Street, Runcorn",y
59,Grange Forest Park,Grange,"Grange Forest Park, 105 Raymont Road, Grange",y
60,Green Hill Reservoir Park,Chapel Hill,"Green Hill Reservoir Park, 206C Russell Terrac...",y
61,Greenways Esplanade Park,Parkinson,"Greenways Esplanade Park, 30 Greenways Esplana...",y
62,Grey Gum Park,Stafford Heights,"Grey Gum Park, 822 Rode Road, Stafford Heights",y
63,Gus Davies Park,Bald Hills,"Gus Davies Park, 39 Charlock Road, Bald Hills",y
64,Gympie Road Park (no. 1),Kedron,"Gympie Road Park (no. 1), 15A Park Terrace, Ke...",y
65,Hercules Street Park,Hamilton,"Hercules Street Park, 40 Remora Road, Hamilton",y
66,Hickey Park,Stafford,"Hickey Park, 71 Gamelin Crescent, Stafford",y
67,Holmead Park,Eight Mile Plains,"Holmead Park, 2 Holmead Road, Eight Mile Plains",y
68,Hyde Road Park,Yeronga,"Hyde Road Park, 331 Fairfield Road, Yeronga",y
69,Jack Pyle Park,Sunnybank Hills,"Jack Pyle Park, 305 Gowan Road, Sunnybank Hills",y
70,Jim Wilding Reserve,Bridgeman Downs,"Jim Wilding Reserve, 35 Tallowwood Place, Brid...",y
71,Jindalee Boat Ramp Park,Jindalee,"Jindalee Boat Ramp Park, 99 Mt Ommaney Drive, ...",y
72,John Goss Reserve,Chermside West,"John Goss Reserve, 51 Kenna Street, Chermside ...",y
73,Julie Road Park,Ellen Grove,"Julie Road Park, 12A Julie Road, Ellen Grove",y
74,Kalinga Park,Kalinga,"Kalinga Park, 48 Kalinga Street, Kalinga",y
75,Keralgerie Park,Morningside,"Keralgerie Park, 191 Richmond Road, Morningside",y
76,Keryn Place Park,Keperra,"Keryn Place Park, 46 Mungarie Street, Keperra",y
77,Kev Hooper Memorial Park,Inala,"Kev Hooper Memorial Park, 167 Lavender Street,...",y
78,Kianawah Park,Tingalpa,"Kianawah Park, 1555 Wynnum Road, Tingalpa",y
79,Kokoda Park,Gordon Park,"Kokoda Park, 7 Tindal Street, Gordon Park",y
80,Kookaburra Park - West,Karana Downs,"Kookaburra Park - West, 11 Nalya Crescent, Kar...",y
81,Lacey Road Park,Carseldine,"Lacey Road Park, 153 Lacey Road, Carseldine",y
82,Mactier Street Park,Fig Tree Pocket,"Mactier Street Park, 745 Fig Tree Pocket Road,...",y
83,Marchant Park,Aspley,"Marchant Park, 1105 Gympie Road, Aspley",y
84,Marnham Street Park,Acacia Ridge,"Marnham Street Park, 45 Marnham Street, Acacia...",y
85,Martindale Street Park,Chermside West,"Martindale Street Park, 95 Stringybark Drive, ...",y
86,Merri Merri Park,Chapel Hill,"Merri Merri Park, 105 Greenford Street, Chapel...",y
87,Milton Park,Milton,"Milton Park, 28 Eagle Terrace, Milton",y
88,Mortimer Road Park,Acacia Ridge,"Mortimer Road Park, 174 Mortimer Road, Acacia ...",y
89,Moss Road (no. 42),Wakerley,"Moss Road (no. 42), 64 Watervale Parade, Wakerley",y
90,Mt Crosby Sportsground,Chuwar,"Mt Crosby Sportsground, 491 Allawah Road, Chuwar",y
91,Mulbeam Park,Boondall,"Mulbeam Park, 131 Beams Road, Boondall",y
92,Nathan Road Park,Runcorn,"Nathan Road Park, 346 Daw Road, Runcorn",y
93,Neal Macrossan Playground Park,Paddington,"Neal Macrossan Playground Park, 14 Caroline St...",y
94,Newbury Place Park,Carindale,"Newbury Place Park, 61A Cribb Road, Carindale",y
95,Northey Street Park,Windsor,"Northey Street Park, 24 Edgar Street, Windsor",y
96,Northgate Reserve,Northgate,"Northgate Reserve, 672 Nudgee Road, Northgate",y
97,Northumbria Road Park,Boondall,"Northumbria Road Park, 79 College Way, Boondall",y
98,Nudgee Waterhole Reserve,Nudgee,"Nudgee Waterhole Reserve, 1186 Nudgee Road, Nu...",y
99,Old Shoreline Park,Hamilton,"Old Shoreline Park, 351 Macarthur Avenue, Hami...",y
100,Orleigh Park,West End,"Orleigh Park, 68 Hill End Terrace, West End",y
101,Pallara Park,Willawong,"Pallara Park, 380 Gooderham Road, Willawong",y
102,Pask Family Park,Rochedale,"Pask Family Park, 12 Ascent Street, Rochedale",y
103,Pat Rafter Park,Carseldine,"Pat Rafter Park, 3 Medallion Place, Carseldine",y
104,Paten Park,The Gap,"Paten Park, 45 Paten Road, The Gap",y
105,Paul Conti Park,Hemmant,"Paul Conti Park, 124 Hemmant-Tingalpa Road, He...",y
106,Perrin Park,Toowong,"Perrin Park, 56 Josling Street, Toowong",y
107,Perth Street Park,Camp Hill,"Perth Street Park, 74 Perth Street, Camp Hill",y
108,Phil Denman Park,Jamboree Heights,"Phil Denman Park, 56 Loffs Road, Jamboree Heights",y
109,Phillips Place Park,Wakerley,"Phillips Place Park, 11 Phillips Place, Wakerley",y
110,Pioneer Crescent Park,Bellbowrie,"Pioneer Crescent Park, 33 Pioneer Crescent, Be...",y
111,Powerhouse Park,New Farm,"Powerhouse Park, 137 Sydney Street, New Farm",y
112,Preston Road Park,Carina,"Preston Road Park, 276 Meadowlands Road, Carina",y
113,Quinn's Street Park,Balmoral,"Quinn's Street Park, 216 Thynne Road, Balmoral",y
114,Raymond Park,Kangaroo Point,"Raymond Park, 184 Wellington Road, Kangaroo Point",y
115,Real Park,East Brisbane,"Real Park, 33 Heath Street, East Brisbane",y
116,Richlands Depot Park,Inala,"Richlands Depot Park, 24 Government Road, Inala",y
117,Rilatt Park,Wavell Heights,"Rilatt Park, 69 Rilatt Street, Wavell Heights",y
118,Robinson Park,Tingalpa,"Robinson Park, 449 Wondall Road, Tingalpa",y
119,Ron Woolley Place,Mansfield,"Ron Woolley Place, 121 Tones Road, Mansfield",y
120,Roy Harvey Park,Stafford,"Roy Harvey Park, 34 Byth Street, Stafford",y
121,Salisbury Recreation Reserve,Salisbury,"Salisbury Recreation Reserve, 323 Evans Road, ...",y
122,Sanananda Street Park,Darra,"Sanananda Street Park, 961 Centenary Highway, ...",y
123,Sedgley Park,Alderley,"Sedgley Park, 401 Enoggera Road, Alderley",y
124,Shaftesbury Street Park,Tarragindi,"Shaftesbury Street Park, 59 Shaftesbury Street...",y
125,Shand Street Park (No.100),Stafford,"Shand Street Park (No.100), 100 Shand Street, ...",y
126,Shaw Estate Park,Wavell Heights,"Shaw Estate Park, 150 Shaw Road, Wavell Heights",y
127,Sheriff Park,Wakerley,"Sheriff Park, 45 Habitat Drive, Wakerley",y
128,Sir John Chandler Park,Indooroopilly,"Sir John Chandler Park, 151 Harts Road, Indoor...",y
129,South Brisbane Riverside Lands Park,South Brisbane,"South Brisbane Riverside Lands Park, 23A Hocki...",y
130,Stannard Road Park,Manly West,"Stannard Road Park, 55 Stannard Road, Manly West",y
131,Sunset Park,Bardon,"Sunset Park, 105 Barnett Road, Bardon",y
132,Teralba Park,Everton Park,"Teralba Park, 120 Pullen Road, Everton Park",y
133,Thistle Street Park (No.74),Gordon Park,"Thistle Street Park (No.74), 74 Thistle Street...",y
134,Thomas Macleod Park,Sinnamon Park,"Thomas Macleod Park, 40 Sinnamon Road, Sinnamo...",y
135,Tigris Street Park,Riverhills,"Tigris Street Park, 22 Tigris Street, Riverhills",y
136,Tuckeroo Park,Nudgee Beach,"Tuckeroo Park, 1553 Nudgee Road, Nudgee Beach",y
137,Turquoise Place Park,Wavell Heights,"Turquoise Place Park, 41 Turquoise Place, Wave...",y
138,Upper Kedron Recreation Reserve,Upper Kedron,"Upper Kedron Recreation Reserve, 270 Upper Ked...",y
139,Vectis Street Park,Norman Park,"Vectis Street Park, 165 Norman Avenue, Norman ...",y
140,Victoria Park,Herston,"Victoria Park, 290 Gilchrist Avenue, Herston",y
141,Wally Bourke Park,Gordon Park,"Wally Bourke Park, 10 Kate Street, Gordon Park",y
142,Wally Tate Park,Runcorn,"Wally Tate Park, 95 Warrigal Road, Runcorn",y
143,Waterfront Park,Newstead,"Waterfront Park, 39 Waterloo Street, Newstead",y
144,Webster Road Park,Stafford Heights,"Webster Road Park, 239 Kitchener Road, Staffor...",y
145,Wembley Park,Coorparoo,"Wembley Park, 71 Jackson Street, Coorparoo",y
146,Whites Hill Reserve,Camp Hill,"Whites Hill Reserve, 205 Jones Road, Camp Hill",y
147,Wittonga Park,The Gap,"Wittonga Park, 98 Hilder Road, The Gap",y
148,Wolston Creek Bushland Reserve,Riverhills,"Wolston Creek Bushland Reserve, 69 Tomkins Roa...",y
149,Woogaroo Reserve,Forest Lake,"Woogaroo Reserve, 315 Forest Lake Boulevard, F...",y
150,Woolloongabba Rotary Park,East Brisbane,"Woolloongabba Rotary Park, 64 Fisher Street, E...",y
151,Yeronga Memorial Park,Yeronga,"Yeronga Memorial Park, 78 Park Road, Yeronga",y
152,Yimbun Park,Sunnybank,"Yimbun Park, 459 McCullough Street, Sunnybank",y

In [21]:
#count breed value
dog_park_list['Suburb'].value_counts(dropna=False)

Gordon Park             5
Stafford                3
The Gap                 3
Wavell Heights          3
Boondall                3
Chapel Hill             3
Bald Hills              3
Wakerley                3
Darra                   3
Runcorn                 3
Nundah                  2
Wishart                 2
Stafford Heights        2
Keperra                 2
Yeronga                 2
Bellbowrie              2
Tingalpa                2
Windsor                 2
Morningside             2
Riverhills              2
Acacia Ridge            2
Calamvale               2
Carseldine              2
Hamilton                2
Chermside               2
Forest Lake             2
Camp Hill               2
Inala                   2
Kedron                  2
Carindale               2
Chermside West          2
Toowong                 2
Seventeen Mile Rocks    2
East Brisbane           2
Parkinson               1
Rochedale               1
Salisbury               1
Northgate               1
Fairfield               1
Chuwar                  1
Corinda                 1
Richlands               1
Fitzgibbon              1
Ferny Grove             1
Everton Park            1
Bridgeman Downs         1
Ellen Grove             1
Jindalee                1
Murarrie                1
Graceville              1
Paddington              1
Hemmant                 1
Greenslopes             1
South Brisbane          1
Coopers Plains          1
Grange                  1
Nudgee                  1
New Farm                1
Kalinga                 1
Mansfield               1
Wynnum West             1
Rocklea                 1
Lota                    1
Willawong               1
Geebung                 1
Sunnybank               1
Tarragindi              1
Herston                 1
Indooroopilly           1
Sinnamon Park           1
Nudgee Beach            1
Macgregor               1
Bracken Ridge           1
Algester                1
Albion                  1
Alderley                1
Newstead                1
Bardon                  1
Eight Mile Plains       1
West End                1
Karana Downs            1
Red Hill                1
Sandgate                1
Upper Kedron            1
Sunnybank Hills         1
Zillmere                1
Upper Mount Gravatt     1
Westlake                1
Wynnum                  1
Kangaroo Point          1
Oxley                   1
Ascot                   1
Durack                  1
Bulimba                 1
Jamboree Heights        1
Dutton Park             1
Brookfield              1
Brighton                1
Balmoral                1
Kelvin Grove            1
Milton                  1
Aspley                  1
Manly West              1
Fig Tree Pocket         1
Norman Park             1
Coorparoo               1
Carina                  1
Name: Suburb, dtype: int64

In [23]:
file_path = "Data/Breed Info.csv"
breed_list = pd.read_csv(file_path, encoding= 'unicode_escape')
breed_list

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150
2,Bernese Mountain Dog,23,27,85,110
3,Bloodhound,24,26,80,120
4,Borzoi,26,28,70,100
5,Bullmastiff,25,27,100,130
6,Great Dane,32,32,120,160
7,Great Pyrenees,27,32,95,120
8,Great Swiss Mountain Dog,23,28,130,150
9,Irish Wolfhound,28,35,90,150
10,Kuvasz,28,30,70,120
11,Mastiff,27,30,175,190
12,Neopolitan Mastiff,24,30,100,150
13,Newfoundland,26,28,100,150
14,Otter Hound,24,26,65,110
15,Rottweiler,22,27,90,110
16,Saint Bernard,25,28,110,190
17,Afghan Hound,25,27,50,60
18,Alaskan Malamute,na,na,na,na
19,American Foxhound,22,25,65,70
20,Beauceron,24,27,100,120
21,Belgian Malinois,22,26,60,65
22,Belgian Sheepdog,22,26,60,75
23,Belgian Tervuren,22,26,60,75
24,Black And Tan Coonhound,23,27,50,75
25,Black Russian Terrier,25,29,80,140
26,Bouvier Des Flandres,23,27,75,95
27,Boxer,21,25,65,70
28,Briard,23,27,74,76
29,Chesapeake Bay Retriever,21,26,55,75
30,Clumber Spaniel,19,20,35,65
31,Collie (Rough) & (Smooth),22,26,50,75
32,Curly Coated Retriever,25,27,65,80
33,Doberman Pinscher,26,28,60,100
34,English Foxhound,22,25,65,70
35,English Setter,23,27,45,80
36,German Shepherd Dog,22,26,75,90
37,German Shorthaired Pointer,20,27,50,80
38,German Wirehaired Pointer,22,26,60,70
39,Giant Schnauzer,25,28,70,75
40,Golden Retriever,21,24,55,75
41,Gordon Setter,23,27,45,80
42,Greyhound,27,30,60,70
43,Irish Setter,25,27,60,70
44,Komondor,26.5,35.5,80,135
45,Labrador Retriever,21,24,55,80
46,Old English Sheepdog (Bobtail),20,24,60,65
47,Poodle Standard,15,25,45,45
48,Rhodesian Ridgeback,24,27,70,85
49,Scottish Deerhound,28,32,75,110
50,Spinone Italiano,23,28,65,80
51,Tibetan Mastiff,24,26,140,170
52,Weimaraner,25,27,70,85
53,Airdale Terrier,22,24,45,45
54,American Staffordshire Terrier,17,19,40,50
55,American Water Spaniel,15,18,25,45
56,Australian Cattle Dog,17,20,35,45
57,Australian Shepherd,18,23,40,60
58,Basset Hound,14,14,40,50
59,Bearded Collie,20,22,40,60
60,Border Collie,19,21,40,40
61,Brittany,17,21,30,40
62,Bull Dog,12,16,50,60
63,Bull Terrier,21,22,50,70
64,Canaan Dog,19,24,35,55
65,Chinese Shar Pei,18,20,45,55
66,Chow Chow,19,22,45,55
67,Cocker Spaniel-American,15,16,22,28
68,Cocker Spaniel-English,15,17,25,35
69,Dalmatian,19,23,45,70
70,English Springer Spaniel,20,20,45,55
71,Field Spaniel,18,18,35,50
72,Flat Coated Retriever,22,23,60,70
73,Finnish Spitz,15,20,31,35
74,Harrier,19,21,40,60
75,Ibizan Hound,22,29,42,55
76,Irish Terrier,18,19,25,27
77,Irish Water Spaniel,10,23,45,65
78,Keeshond,17,19,35,50
79,Kerry Blue Terrier,17,21,30,45
80,Norwegian Elkhound,19,20,40,60
81,Nova Scotia Duck Tolling Retriever,17,21,35,50
82,Petit Basset Griffon Vendeen,13,15,30,40
83,Pharaoh Hound,21,25,45,55
84,Plott Hound,20,24,45,55
85,Pointer,21,24,44,66
86,Polish Lowland Sheepdog,16,20,30,35
87,Portuguese Water Dog,20,23,42,60
88,Redbone Coonhound,21,27,50,70
89,Saluki,23,28,35,70
90,Samoyed,19,24,50,65
91,Siberian Husky,20,23,40,60
92,Soft-Coated Wheaten Terrier,18,20,35,45
93,Staffordshire Bull Terrier,14,16,24,28
94,Standard Schnauzer,17,19,33,33
95,Sussex Spaniel,15,16,40,45
96,Vizsla,48,66,22,25
97,Welsh Springer Spaniel,16,19,35,45
98,Wirehaired Pointing Griffon,20,24,45,60
99,American Eskimo,9,19,25,30
100,Australian Terrier,10,10,10,14
101,Basenji,17,17,20,22
102,Beagle,13,16,18,30
103,Bedlington Terrier,15,16,18,23
104,Bichon Frise,9.5,11.5,10,18
105,Border Terrier,12,15,12,15
106,Boston Terrier,14,15,15,25
107,Brussels Griffon,7,8,6,12
108,Cairn Terrier,9,10,14,14
109,Cardigan Welsh Corgi,10,12,25,35
110,Cavalier King Charles Spaniel,10,15,15,20
111,Coton de Tulear,not found,not found,not found,not found
112,Dachshund,7,10,16,32
113,Dandie Dinmont Terrier,18,24,8,11
114,English Toy Spaniel,10,10,9,15
115,Fox Terrier ÛÒ Smooth,13,16,15,20
116,Fox Terrier ÛÒ Wirehair,13,16,15,20
117,French Bulldog,11,12,17,28
118,German Pinscher,16,19,25,35
119,Glen Imaal Terrier,14,14,34,36
120,Lakeland Terrier,13,14,15,17
121,Manchester Terrier (Standard),15,16,17,18
122,Poodle Miniature,10,15,20,20
123,Pug,10,11,14,22
124,Puli,16,17,29,33
125,Schipperke,10,13,12,18
126,Scottish Terrier,10,12,18,22
127,Sealyham Terrier,12,12,18,20
128,Shetland Sheepdog (Sheltie),13,16,14,20
129,Shiba Inu,13,16,15,30
130,Shih Tzu,8,11,9,16
131,Silky Terrier,9,10,8,11
132,Skye Terrier,10,10,25,25
133,Tibetan Spaniel,10,10,9,15
134,Tibetan Terrier,14,17,20,30
135,Welsh Terrier,15,15,20,21
136,West Highland White Terrier,11,11,13,15
137,Whippet,18,22,27,30
138,Affenpinscher,9,12,8,12
139,Chihuahua,6,9,2,5
140,Chinese Crested,11,13,5,12
141,Italian Greyhound,12,15,6,10
142,Japanese Chin,8,11,4,11
143,Maltese,8,10,4,6
144,Manchester Terrier (Toy),10,12,6,8
145,Papillon,8,11,5,10
146,Pomeranian,12,12,3,7
147,Poodle Toy,10,10,10,10
148,Toy Fox Terrier,10,10,4,7
149,Yorkshire Terrier,8,8,3,7

In [24]:
# loop through each column, check if there are null values, 
#sum them up, and print out a readable total:
for column in breed_list.columns:
    print(f"Column {column} has {breed_list[column].isnull().sum()} null values")

Column Breed has 0 null values
Column height_low_inches has 0 null values
Column height_high_inches has 0 null values
Column weight_low_lbs has 0 null values
Column weight_high_lbs has 0 null values